@charset "utf-8";

.menuver{
  background-color:black;
  padding:10px 0;
}
.menu-text{
  display: inline-block;
  margin:0 10px;
}
.menu-text a{
 padding:10px;
 text-decoration:none;
 font-size:16px;
 color:white;
}
.text-list{
  list-style: none;
  text-align: center;
}
.menuver span{
  background-color: white;
  display: inline-block;
  transition: all .4s;
  position: absolute;
  border-radius: 2px;
  right: 20px;
  height: 3;
  width: 30;
}

.menuver span:nth-of-type(1){
  top: 20;
}

.menuver span:nth-of-type(2){
  top: 28;
}
.menuver span:nth-of-type(3){
  top: 36;
}

.slider {
  position:relative;
  height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
  /*　背景画像設定　*/

.slider-item {
  width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-position: center;/*背景画像の位置を中央に*/
  background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  position: absolute;/*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #ccc;/*矢印の色*/
  border-right: 2px solid #ccc;/*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left:2.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right:2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
  text-align:center;
  margin:-50px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;/*ドットボタンのサイズ*/
  height:16px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}

